 /* INICIO MOBILE SERVICIOS */
  
                       .main-serv {
                        grid-area: main-serv; 
                       }
                        .servicios {
                          grid-area: servicios;
                          display: flex;
                          flex-wrap:wrap;
                          margin-top: 60px;
                        
                          .card{
                            background-color: #71fb8d;
                            align-content: center;
                            margin: 50px auto;
                            margin-right: 35px;
                            img{
                              margin: 5px auto;
                            }
                          }
                          li h3 {
                            background-color: #96a1af;
                            color: black;
                            margin: 20px;
                            border: solid 1px black;
                            text-align: center;
                            border-radius: 3px;
                            text-decoration: none;
                            list-style: none; 

                            &:hover {
                              zoom: 1.25;
                              background-color: #f5f5f5; }
                            }
                            
                      .serv-1 {grid-area: serv-1;}
                      .serv-2 {grid-area: serv-2; }
                      .serv-3 {grid-area: serv-3; }

                        }
  
                      
  
                        /* GRID SERVICIOS */
  
                        @media screen and(min-width:768px) {
                          .servicios {
                            grid-area: servicios;
                            display: flex;
                            flex-wrap:wrap;
                            margin-top: 60px; 
                            justify-content: space-around; 
  
                            .card{
                              background-color: #71fb8d;
                          align-content: center;
                          margin: 50px auto;
                        
                        .img{
                          margin: 5px auto;
                        }
                      }
                      }
                            .cont-serv{
                            display: grid;
                            grid-template-columns: auto auto;
                            grid-template-rows: 105px auto 80px;
                            grid-template-areas:
                            " header header"
                            "main-serv main-serv"
                            "footer footer";
                          }
                        }